@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
}

.btn-primary {
  @apply flex min-h-14 items-center justify-center rounded-full
  bg-orange-500 px-8 py-4
  font-black text-black
  transition duration-300;
}

.btn-primary:hover {
  @apply bg-black text-orange-300 ring-1 ring-orange-500;
}

.btn-secondary {
  @apply flex min-h-14 items-center justify-center rounded-full
  border border-orange-500 bg-black
  px-8 py-4
  font-black text-orange-300
  transition duration-300;
}

.btn-secondary:hover {
  @apply bg-orange-500 text-black;
}

.btn-small {
  @apply px-5 py-2 text-sm;
}

.section-container {
  @apply mx-auto max-w-6xl px-6;
}

.section-container {
  @apply mx-auto max-w-6xl px-6;
}